<div>
    <br>
    <div>
    <table class="table table-striped">
        <thead>
          <tr>
             <th scope="col">English Word</th>
             <th scope="col">Expanded</th>
             <th scope="col">Info</th>
             <th scope="col">Links</th>
             <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
           <th scope="row"></th>
           <tr *ngFor="let term of iModel">
            <td>{{term.wordEnglish}}</td>
            <td>{{term.wordExpanded}}</td>
            <td>
                <li *ngIf="term.authorName">Author: {{term.authorName}}</li>
                <li *ngIf="term.dateCreated">Created: {{term.dateCreated}}</li>
                <li *ngIf="term.dateRevised">Revised: {{term.dateRevised}}</li>
            </td>
            <td>
                <li *ngIf="term.linkAuthoritative"><a [href]="term.linkAuthoritative" target="parent">Trusted Documentation</a></li>
                <li *ngIf="term.linkWikipedia"><a [href]="term.linkWikipedia" target="parent">Wikipedia Documentation</a></li>
                <li *ngIf="term.linkYouTube"><a [href]="term.linkYouTube" target="parent">YouTube Documentation</a></li>
            </td>
            <td>
                <button class="btn" type="submit" (click)="onclick(term._id)">View</button>
            </td>
           </tr>
        </tbody>
    </table>
    </div>
</div>


