<div>
    <h3 class="form-inline">
        List of English terms - search for... 
        <input autofocus="" class="form-control ng-untouched ng-pristine ng-valid"
          name="searchText" placeholder="(3 or more characters)" type="search">
        &nbsp;&nbsp;
       <button><a _ngcontent-qsa-c4="" class="btn btn-primary" routerlink="/termsEnglish/create" href="/terms/english/create">Add new</a></button>
      </h3>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Word</th>
            <th>Author</th>
            <th>Definition</th>
            <th class="col-md-2">Field of study</th>
            <th class="col-md-1"></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let term of iModel">
            <td *ngIf="term.definitions" class="col-md-2">{{ term.wordEnglish }}</td>
            <td *ngIf="term.definitions" class="col-md-1">{{ term.authorName }}</td>
            <td *ngIf="term.definitions" class="col-md-5">
              {{ term.definitions[0].definition }}
              <span *ngIf="term.definitions.length - 1 > 0">
                <br>
                <i>• {{ term.definitions.length - 1 }} other definition(s)</i>
              </span>
            </td>
            <td *ngIf="term.definitions">{{ term.fieldOfStudy }}</td>
            <td *ngIf="term.definitions"><button class="btn btn-default" routerLink="/viewEnglishTerm/{{ term._id }}">Detail</button></td>
          </tr>
        </tbody>
      </table>
</div>


