<div class="jumbotron jumboImage" style="text-align:center">

    <div class="row">
        <img alt="Credit: https://blogs.glowscotland.org.uk/an/carnoustiecomputing/tag/computing-science/" 
        src="./public/images/wordle-oss.png" width="100" height="100">
    </div>

    <div class="row">
        <h1>Angular App</h1>
        <h4>BTI425 Winter 2020 - Terms and Definition App</h4>
    </div>
</div>

<div class="body">
    <div class="row">
       <div class="col-auto">
         <p>The app’s purpose is to define or translate the English-language terminology we use in the computer programming courses in the School of SDDS, for use by all students, whether or not English is a student’s first language.</p>
      </div>
      <div class="col-auto">
          <p>A web API will hold the data for the app. The web API will be posted to Heroku and Atlas, and will provide the data for the Angular app. The Angular app will also be deployed to a public host (Heroku)</p>
      </div>
    </div>

    <div class="row">
        <div class="col-auto">
             <p><a href="https://calm-mountain-03246.herokuapp.com/">Link to API</a></p>
             <p><a href="">Link to Hosted App</a></p>
        </div>
    </div>
</div>
